@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Nunito:wght@300;400;500;600;700&display=swap');

:root {
    --textColor: #bebebe;
    --priceColor: rgb(1, 92, 1);
    --productColor: #313b4d;
    --navColor: #001F2B;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}


 /*------------------------------*/
/*H-O-R-I-Z-O-N-T-A-L--M-O-D-U-L-E*/
 /*-----------------------------*/


.horizontalModules {
    margin-top: 65px;
    
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: var(--productColor);

    box-shadow: 0 0 10px 3px;
}

.horizontalRadioButton {
    padding: 10px 50px 10px 50px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    margin-left: 20em;
}

.horizontalRadioButton:hover {
    background-color: #001F2B;
}

.searchContainer {
    position: relative;
    border: hidden;
    border-radius: 10px;
    margin: auto;

}

.searchBar {
    padding: 9px 200px 10px 10px;
}

.searchIcon {
    transform: scale(1.5, 1.5);

    position: absolute;
    right:2%;
    bottom: 30%;

    cursor: pointer;
}

.searchIcon:hover {
    transform: scale(1.7);
}

 /*--------------------------*/
/*V-E-R-T-I-C-A-L--M-O-D-U-L-E*/
 /*-------------------------*/

.storeVerticalModules {
    position: fixed;
    margin: 40px 0 20px 0;
    width: 230px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.storeCheckBox {
    margin: 1.5em 0 1em 1em;

    color: var(--textColor);
    font-size: 20px;
}

 /*--------------*/
/*P-R-O-D-U-C-T-S-*/
 /*--------------*/

.storeProductsContainer {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: 40px 0 0 280px;
}

.storeProduct {
    width: 300px;
    height: 300px;
    
    margin: 20px 20px 20px 20px;

    position: relative;

    background-color: var(--productColor);
    border: hidden;
    border-radius: 5px;

    box-shadow: 0 0 7px 3px;

    transition: transform 80ms;
}

.storeProduct img {
    margin: auto;
    width: 100%;
    height: 50%;
}

.storeProduct h1 {
    font-size: 22px;

    margin-top: 10px;
    margin-bottom: 50px;

    text-align: center;
    color: var(--textColor);
}

.priceContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.priceContainer h3 {
    font-size: 33px;

    padding: 3px;

    color: var(--priceColor);
    background-color: #1b212b;
    border: hidden;
    border-radius: 5px;
}

.priceContainer p {
    color: var(--textColor);
}

.price p {
    margin: -2px 10px 0 10px;
}

#originalPrice {
    font-size: 20px;
}

#salePrice {
    font-size: 15px;
    margin-bottom: 5px;
}

.storeProduct:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 0 7px 4px;
    cursor: pointer;
}

.deleteButton {
    position: absolute;
    left: 1em;
    bottom: 1em;
    z-index: 3;
    transform: scale(1.5);
}

.deleteButton:hover {
    color: #bebebe;
}

.editButton {
    position: absolute;
    left: 3.5em;
    bottom: 1em;
    z-index: 3;
    transform: scale(1.5);
}

.editButton:hover {
    color: #bebebe;
}

 /*------------------------*/
/*-A-D-M-I-N--B-U-T-T-O-N-S-*/
 /*------------------------*/

.gameOptions {
    position: fixed;
    bottom: 5px;
    left: 5px;
}

.gameOptions-button {

    font-size: 20px;
    margin: 5px;

    color: var(--textColor);
    background-color: #3a455a;
    border: hidden;
    border-radius: 5px;

    box-shadow: rgb(34, 34, 34) 0 0 4px 0.5px;

}

.gameOptions-button:hover {
    transform: scale(1.01, 1.01);
    background-color: #2f3849;
}

 /*-----------------------*/
/*-A-D-D--G-A-M-E--F-O-R-M-*/
 /*----------------------*/

.addGameForm {
    position: fixed;
    bottom: 65px;
    left: 10px;

    height: 600px;
    width: 300px;

    font-size: 17px;

    background-color: #232b38;
    color: var(--textColor);
    border: hidden;
    border-radius: 4px;
    box-shadow: rgb(24, 24, 24) 0 0 7px 1px;
}

.addGameForm * {
    display: block;
}

.addGameForm-input {
    margin: 0.7em 0 0.9em 0.6em;
    background-color: var(--productColor);
}

.addGameForm-label {
    margin: 0.9em 0 0.7em 0.6em;
}

.addGameForm #saleCheckbox {
    transform: scale(1.5);
    margin-left: 0.8em;
}

.addGameForm #submitButton {
    background-color: var(--productColor);
    font-size: 1.2em;
    margin: 1.2em 0 0.7em 0.6em;
    padding: 0.2em 0.5em 0.2em 0.5em;

    border-radius: 5px;
}

/*---------------------------*/
/*-D-E-L-E-T-E--C-O-N-F-I-R-M-*/
 /*-------------------------*/

 .confirmDeleteContainer {
    position: fixed;
    left: 50%;
    bottom: 50%;
    width: 1000px;
    height: 1000px;
 }

 /*-------------------------*/
/*-E-D-I-T--G-A-M-E--F-O-R-M-*/
 /*------------------------*/

.editGameForm {

    position: absolute;
    left: -350px;
    bottom: -50px;

    height: 400px;
    width: 300px;

    font-size: 17px;

    background-color: #232b38;
    color: var(--textColor);
    border: hidden;
    border-radius: 4px;
    box-shadow: rgb(24, 24, 24) 0 0 7px 1px;

}

.editGameForm * {
    display: block;
}

.editGameForm-input {
    margin: 0.7em 0 0.9em 0.6em;
    background-color: var(--productColor);
}

.editGameForm-label {
    margin: 0.9em 0 0.7em 0.6em;
}

.editGameForm #saleCheckbox {
    transform: scale(1.5);
    margin-left: 0.8em;
}

.editGameForm #submitButton {
    background-color: var(--productColor);
    font-size: 1.2em;
    margin: 1.2em 0 0.7em 0.6em;
    padding: 0.2em 0.5em 0.2em 0.5em;

    border-radius: 5px;
}

 /*------------------*/
/*-S-T-O-R-E--C-A-R-T-*/
 /*-----------------*/

 .storeCart {


    display: block;

    position: fixed;
    right: 0;
    bottom: 0;

    z-index: 3;
    background-color: #001F2B;
    color: var(--textColor);
    border-radius: 5px;

    box-shadow: rgb(24, 24, 24) 0 0 5px 3px;
 }

.storeCart-product {
    height: 100px;
    width: 450px;

    margin: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: var(--productColor);
    border: hidden;
    border-radius: 5px;
}

.storeCart-product:hover {
    background-color: #293141;
    cursor: pointer;
}

.storeCart-image {
    width: 100px;
    overflow:hidden;

    position: absolute;
    left: 1em;

    /*box-shadow: rgb(24, 24, 24) 0 0 5px 2px;*/

    border: solid rgb(24, 24, 24) 2px;
    border-radius: 3px;
 }

.storeCart-title {
    font-size: 15px;

    margin: 1em;
    margin-left: 5em;
}

.storeCart-price {
    position: absolute;
    right: 1em;
    bottom: 50%;
}

.storeCart-amount {
    text-align: right;
}

.storeCart-bottomModules {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: right;
    height: 100px;
    border-top: solid #8f8e8e;
    border-radius: 3px;

}

.storeCart-bottomPriceText {
    font-size: 20px;
    color: var(--textColor);
    margin: 2em 1em 1em 12em;
}

.storeCart-bottomPrice {
    color: var(--priceColor);
}

.storeCart-bottomButton {
    padding: 0.5em 0.8em 0.5em 0.8em;
    margin: 1em;

    justify-content: flex-start;
    background-color: var(--productColor);
    color:#dbdbdb;
    border: hidden;
    border-radius: 3px;
}
